.chartWrapper {
    position: relative;
    z-index: 10;
}

.chartWrapper:after.draggable {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.controlImg {
    position: absolute;
    z-index: 10;
    top: 38px;
    left: 0;
    cursor: move;
    /*display: none;*/
}

.chartWrapper:hover .controlImg {
    /*display: block;*/
}
