.wrapper {
  position: relative;
  display: flex;

  &[draggable] {
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("./../../../public/cats.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .dndWrapper {
      pointer-events: none;
    }
  }

  &:hover {
    .dndIcon {
      display: block;
    }
  }
}

.dndWrapper {
  position: absolute;
  color: #fff;
  font-size: 22px;
  width: 100%;
  height: 100%;
}

.dndIcon {
  display: none;
  position: absolute;
  left: 0;
  z-index: 10;
  top: 42px;
  cursor: pointer;
}