body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  min-height: 100vh;
  background-color: #161823;
  overflow: hidden;
}

.App {
  height: 100%;
}

#tradingview_widget_wrapper > div:last-child{
  display: none;
}

[draggable] #tradingview_widget_wrapper {
  pointer-events: none;
}

input {
  outline: none;
  background-color: transparent;
  color: #fff;
  border: none;
}
